.search {
    border-radius: 15px;
    width: 15%;
    margin-right: 60%;
    border: white;
    outline-color: white;
    outline-style: inherit;
}
.categoriescontainer {
    position: absolute;
    margin-left:2%;
    width: 10%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1524865291454-215bdc75819e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
}
.categories
{
    position: relative;
    color: deepskyblue;
    font-size: large;
    height: 100%;
    margin-left: 10%;
}
.categoriesbrand
{
    border: 0.1px solid black;
    background-color: dodgerblue;
    font-family: "Arial Black", serif;
    display:flex;
    margin-bottom: 5%;
}
.categoriesname
{
    font-family: "Arial Black", serif;
    color: white;
    display:flex;
}
.shop_detail, .shop_detail .card, .shop_detail .card .card_header, .btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.shop_detail {
    position: relative;
    width: 70%;
    height: 100%;
    padding: 20px 0 0;
    margin-left: 15%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.shop_detail .card {
    width: 23%;
    height: 90%;
    border-radius: 15px;
    background-color: lightskyblue;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.shop_detail .card .card_img {
    margin-top: 2vw;
    display:flex;
    justify-content: center;
}

.shop_detail .card .card_img img {
    width: 80%;
}

.shop_detail .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: darkblue;
    margin: 25px 0;
}

.shop_detail .card .card_header h2 {
    font-size: 160%;
    font-family: Calibri, serif;
}

.shop_detail .card .card_header p {
    font-size: 100%;
    text-align: center;
    color: darkcyan;
    margin: 8px 0;
}

.shop_detail .card .card_header .price {
    font-size: 120%;
    color: midnightblue;
}
.shop_detail .card:hover {
    background-color: deepskyblue;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.shop_detail .btn:hover {
    background-color: deepskyblue;
    color: white;
}
.brand
{
    color: lightgoldenrodyellow;
    font-family: "Arial Black", serif;

}
.btn {
    width: 100%;
    height: 100%;
    font-size: 80%;
    border-radius: 35px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    position: relative;
    display:flex;
    justify-content: center;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    overflow: hidden;
}
.cart:hover {
    width: 20%;
    height: 100%;
    font-size: 140%;
    font-family: "Arial Black", serif;
    border-radius: 15px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
.cart {
    width: 20%;
    height: 100%;
    font-size: 130%;
    border-radius: 15px;
    font-family: "Arial Black", serif;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}
