.shoppingcart
{}
.shopping_cart, .shopping_cart .card, .shopping_cart .card .card_header, .add, .remove, .cover{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shopping_cart {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 20px auto;
    padding: 20px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.shopping_cart .card {
    width: 23%;
    height: 100%;
    border-radius: 15px;
    background-color: lightskyblue;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 0px;
}

.shopping_cart .card .card_img {
    margin-top: 2vw;
}

.shopping_cart .card .card_img img {
    width: 80%;
}

.shopping_cart .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: darkcyan;
    margin: 25px 0;
}

.shopping_cart .card .card_header h2 {
    font-size: 140%;
    font-family: Calibri, serif;
}

.shopping_cart .card .card_header p {
    font-size: 100%;
    text-align: center;
    color: darkcyan;
    margin: 8px 0;
}

.shopping_cart .card .card_header .price {
    font-size: 120%;
    color: darkblue;
}

.shopping_cart .card:hover {
    background-color: deepskyblue;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.shopping_cart .card:hover .add .remove{
    background-color: orange;
    color: darkblue;
}
.brand
{
    color: lightgoldenrodyellow;
    font-family: "Arial Black", serif;

}
.add {
    width: 30%;
    height: 100%;
    font-size: 120%;
    border-radius: 35px;
    background-color: lightcyan;
    border: white;
    color: black;
    cursor: pointer;
    position: relative;
    display:flex;
    justify-content: center;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
}

.remove {
    width: 30%;
    height: 100%;
    font-size: 120%;
    border-radius: 35%;
    background-color: lightcyan;
    border: white;
    color: black;
    cursor: pointer;
    position: relative;
    display:flex;
    justify-content: center;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
}
.cover
{
    display:flex;
    color: darkcyan;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background-color: lightcyan;
    text-align:center;
    justify-content: center;
}
.carterror
{
    color: red;
    font-family: Calibri, serif;
    display:flex;
    font-size: x-large;
    justify-content: center;
    position: relative;
    padding-top: 2%;
    padding-bottom: 5%;
}
.cartsuccess
{
    color: green;
    font-family: Calibri, serif;
    font-size: x-large;
    display:flex;
    justify-content: center;
    position: relative;
    padding-top: 2%;
    padding-bottom: 5%;
}
.checkout
{
    position: relative;
    display:flex;
    justify-content: center;
}
.buy {
     width: 15%;
     height: 100%;
     font-size: 120%;
     border-radius: 35px;
     background-color: lightcyan;
     margin-bottom: 2%;
     color: black;
     cursor: pointer;
     position: relative;
     display:flex;
     justify-content: center;
     vertical-align: center;
     -webkit-transition: background-color .3s ease;
     transition: background-color .3s ease;
     overflow: hidden;
 }
.title{
}
.dialog
{
}
.exit {
    width: 5%;
    height: 5%;
    font-size: 5%;
    float: right;
}
.borders-box {
    min-height: 433px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f9;
    height: 100%;
    width: 100%;
    margin-right: 4%;
    justify-content: center;
    display:flex;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15),
    0 4px 4px rgba(0,0,0,0.15),
    0 8px 8px rgba(0,0,0,0.15);
}
.s-box {
    min-height: 433px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 4%;
    margin-left: 3%;
    background-color: #f7f7f9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15),
    0 4px 4px rgba(0,0,0,0.15),
    0 8px 8px rgba(0,0,0,0.15);
}

.success-msg {
    color: #0f5132;
    text-align: center;

    justify-content: center;
    margin-right: 70px;
    margin-top: 120px;
    min-height: 100%;
    min-width: 650px;
}
.success-msg svg {
    font-size: 70px;
    border: 1px solid #0f5132;
    border-radius: 30px;
    padding: 10px;
}
.success-msg .title {
    font-size: xx-large;
    margin-top: 10px;
}